.footer{
    width: 100%;
    height: auto;
    background-color: var(--dark-blue);
    color: var(--white);
    padding-bottom: 2rem;
}

.footer-inner{
    margin-top: -3rem;
}

.f-links{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer .description {
    font-size: 1rem;
    max-width: 50rem; /* Set max-width for controlled wrapping */
    margin: 0 auto; /* Center-align text */
    text-align: justify; /* Justify for consistent line spacing */
    line-height: 1.5; /* Improve readability */
    white-space: pre-line; /* Enables respect for added line breaks */
}


@media screen and (max-width:768px) {
    .footer-inner{
        margin-top: 2rem;
    }
}