.navbar{
    width: 100%;
    height: auto;
    padding: .9rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: fixed;
    top: 0;
    transition: ease-in-out .4s;
    z-index: 9999;
}

.active{
    background: var(--dark-blue);
}

.logo span{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    initial-letter: 2px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-items ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    color: var(--white);
}

ul li{
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s;
}

ul li:hover{
    color: var(--orange);
}

.right button{
    width: 10rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid var(--white);
    color: #fff;
    font-weight: 600;
    border-radius: 3rem;
    transition: all .2s;
}

.right button:hover{
    background: var(--white);
}

.toggle{
    color: var(--white);
    display: none;
    cursor: pointer;
}

@media screen and (max-width:868px) {
    .toggle{
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.4rem;
    }

    .navbar{
        padding: 1rem 1rem;
    }

    .right .download{
        display: none;
    }

    .logo{
        margin-left: .9rem;
    }

    .nav-items{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
        overflow: hidden;
        background: var(--dark-blue);
        padding: 1rem 0rem 2.2rem 0rem;
        z-index: 20;
        transition: 0.4s ease;
    }

    .nav-items ul{
        display: block;
        color: #000;
    }

    .nav-items ul li{
        margin-left: 1.5rem;
        margin-top: .8rem;
        color: var(--white);
        letter-spacing: 1px;
        font-size: 1.2rem;
    }

    .navbar-toggle{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0% 100%);
    }


}

