.portfolio-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 1.2rem; /* Add rounded corners */
}

.portfolio-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 1.2rem; /* Ensures the image has the same rounded corners */
}

.portfolio-item:hover img {
  transform: scale(1.05); /* Optional zoom effect on hover */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 1.2rem; /* Rounded corners for the overlay */
}

.portfolio-item:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

.overlay h3 {
  margin: 0;
  font-size: 1.2rem;
}

.overlay p {
  font-size: 0.9rem;
  text-align: center;
  padding: 0 1rem;
}

  


.works{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.swiper-wrapper{
    margin-top: 3rem;
    overflow: visible !important;
}

.swiper-slide{
    width: 20rem;
    border-radius: 1.5rem;
    box-shadow: var(--boxShadow);
}

.swiper-slide img{
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: var(--boxShadow);
}

.works .heading{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.works .heading span:nth-child(1){
    font-size: 3.1rem;
    font-weight: bold;
    color: var(--blue);
    font-family: 'Ubuntu',sans-serif;
    letter-spacing: 2px;
}

.works .heading span:nth-child(2){
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--orange);
    font-family: 'Ubuntu',sans-serif;
    letter-spacing: 2px;
}

@media screen and (max-width:768px) {
    .swiper-slide img{
        border-radius: .7rem;
        height: 100%;
    }

    .swiper-slide{
        width: 10rem !important;
        height: 5.3rem;
        border-radius: .7rem;
    }

    .works .heading span:nth-child(1){
        font-size: 2.2rem;
    }
    .works .heading span:nth-child(2){
        font-size: 2rem;
    }
}